.controls-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


// Start/stop button
.control-button-wrapper {
  width: 49%;
}

.control-button {
  background-color: #673AB7;
  color: $fontColorInverted;
  border: none;
  margin: auto;

  transition: box-shadow 0.3s ease-in-out, width 0.2s ease-in-out;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7),
  0 2px 5px -2px rgba(0, 0, 0, 0.5);

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7),
    0 5px 5px -2px rgba(0, 0, 0, 0.5);
  }

  &.active {
    width: 50%;
  }
}


// Strict mode

.control-strict-wrapper {
  line-height: 38px;
  user-select: none;

  label.control-strict {
    margin-bottom: 0;
  }
}


// Streak
.streak {
  //opacity: 0;
  //pointer-events: none;
  transform: scale(0);
  transform-origin: 30% top;

  transition: transform 0.5s ease-in-out;

  &.active {
    //opacity: 1;
    //pointer-events: auto;
    transform: scale(1);
    //transition: all 0.5s linear 0.3s;
  }
}